[
 {
   sumo_db,
   [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends,
     [{sumo_test_backend_mongo,
       sumo_backend_mongo,
       [
        {host,     "127.0.0.1"},
        {port,     27017},
        {database, "admin"}]
      }]
    },
    {stores,
     [{sumo_test_mongo,
       sumo_store_mongo,
       [{storage_backend, sumo_test_backend_mongo},
        {workers, 10}]
      }]
    },
    {docs, [
     {people, sumo_test_mongo, #{module => sumo_test_people_mongo}},
     {users, sumo_test_mongo, #{module => sumo_test_users_mongo}}
   ]},
   {events, [
     {people, sumo_test_people_events_manager}
   ]}
   ]
 },
 {sasl, [{sasl_error_logger, false}]}
].
