[
 {
   sumo_db,
   [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends,
     [{sumo_test_backend_mongo,
       sumo_backend_mongo,
       [{username, "root"},
        {password, "pass"},
        {host,     "127.0.0.1"},
        {port,     27017},
        {database, "sumo_test"},
        {poolsize, 10}]
      }]
    },
    {stores,
     [{sumo_test_mongo,
       sumo_store_mongo,
       [{storage_backend, sumo_test_backend_mongo},
        {workers, 10}]
      }]
    },
    {docs, [{sumo_test_people_mongo, sumo_test_mongo}]},
    {events, [{sumo_test_people_mongo, sumo_test_people_mongo_events_manager}]}
   ]
 },
 {sasl, [{sasl_error_logger, false}]}
].
